<ul id="sabores" class="dropdown-content">
  <li><a [routerLink] = "['/sabores']" >Consultar</a></li>
  <li><a [routerLink] = "['/sabores-cadastro']" >Cadastrar</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <div id="logged" *ngIf="isAuth" >
          <li><a class="dropdown-button" data-activates="sabores" [routerLink]="['/sabores']" >Sabores<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a [routerLink] = "['/perfil']">Perfil</a></li>
          <li><a [routerLink] = "['/mesas']">mesas</a></li>
          <li><a (click)="logout()" >Sair</a></li>
        </div>  
      <li *ngIf="!isAuth" ><a href="#"><i class="material-icons">lock</i></a></li>
    </ul>
  </div>
</nav>
        