<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a href="#cadastro">Cadastro</a></li>
      <li class="tab col s6"><a class="active" href="#lista">Lista</a></li>
    </ul>
  </div>

  <div id="cadastro" class="col s12">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <br>
        <h4 class="center-align" >Cadastro de sabores</h4>
        <form [formGroup]="formSabores" (ngSubmit)="onSubmitSabores()" >
          <div class="row">
            <div class="col s12 input-field">
              <input type="text" id="sabor" class="validate" formControlName="descricao" >
              <label for="sabor">Sabor</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="chips chips-ingredientes"></div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 input-field">
              <select id="tipo" formControlName="tipo" class="browser-default">
                <option value="" disabled>Selecione o tipo da Pizza</option>
                <option value="salgada">Salgada</option>
                <option value="doce">Doce</option>
              </select>
            </div>
          </div>
          <div class="row" *ngIf="imagemSelecionada" >
            <div class="col s12">
              <img [src]="imagemSelecionada" class="responsive-img" >
            </div>
          </div>
          <div class="row">
            <div class="file-field input-field col s12">
              <div class="btn">
                <span>Imagem</span>
                <input type="file" #imagemSabor id="imagemSabor" (change)="onChange($event)" >
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <input type="checkbox" id="disponivel" formControlName="disponivel" >
              <label for="disponivel">Disponível?</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button [disabled]="formSabores.invalid" type="submit" class="waves-effect col s12 waves-light btn">
                <i class="material-icons right">send</i> Enviar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="lista" class="col s12">
    <div class="row">
      <br>
      <h4 class="center-align" >Sabores cadastrados</h4>
      <div class="col s12 m8 offset-m2">
        <div class="collection">
          <a *ngFor="let sabor of sabores" href="#modalSabor" (click)="onSelectSabor(sabor)" class="collection-item">{{sabor.descricao}}
            <span class="badge" *ngIf="sabor.disponivel">Disponível</span>
            <span class="badge" *ngIf="!sabor.disponivel">Indisponível</span>
            <p class="black-text" *ngIf="sabor.tipo" ><b>Tipo:</b> {{sabor?.tipo}}</p>
            <p class="black-text" ><b>Sabores:</b> <span *ngFor="let ingrediente of sabor.ingredientes" >{{ingrediente}} -&nbsp;</span></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalSabor" class="modal modal-fixed-footer" >
    <div class="modal-content">
      <h4>Editar sabor</h4>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Descrição" id="descricao" [(ngModel)]="selectedSabor.descricao" type="text" class="validate">
          <label for="descricao">Descrição</label>
        </div>
        <div class="row">
          <div class="col s12">
            <input type="checkbox" id="editDisponivel" [(ngModel)]="selectedSabor.disponivel" >
            <label for="editDisponivel">Disponível?</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="chips-selecionado"></div>
          </div>
        </div>
        <div class="row" *ngIf="imagemEditSelecionada">
          <div class="col s12 center-align">
            <img class="responsive-img" [src]="imagemEditSelecionada">
          </div>
        </div>
        <div class="row">
            <div class="file-field input-field col s12">
              <div class="btn">
                <span>Substituir imagem</span>
                <input type="file" id="imagemSabor" (change)="onChangeEdit($event)" >
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
        <div class="row">
          <a (click)="onRemoveSabor()" class="col s12 btn waves-effect waves-light red darken-1">Excluir sabor</a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="onSubmitEdit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Salvar</a>
    </div>
</div>
