<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <br>
    <h4 class="center-align" >Cadastro de sabores</h4>
    <form [formGroup]="formSabores" (ngSubmit)="onSubmitSabores()" >
      <div class="row">
        <div class="col s12 input-field">
          <input type="text" id="sabor" class="validate" formControlName="descricao" >
          <label for="sabor">Sabor</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="chips chips-ingredientes"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <select id="tipo" formControlName="tipo" class="browser-default">
            <option value="" disabled>Selecione o tipo da Pizza</option>
            <option value="salgada">Salgada</option>
            <option value="doce">Doce</option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="imagemSelecionada" >
        <div class="col s12">
          <img [src]="imagemSelecionada" class="responsive-img" >
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>Imagem</span>
            <input type="file" #imagemSabor id="imagemSabor" (change)="onChange($event)" >
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <input type="checkbox" id="disponivel" formControlName="disponivel" >
          <label for="disponivel">Disponível?</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button [disabled]="formSabores.invalid" type="submit" class="waves-effect col s12 waves-light btn">
            <i class="material-icons right">send</i> Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>